@font-face {
  font-family: 'EncodeSans-Bold'; 
  src: url(../fonts/EncodeSans-Bold.ttf) format('ttf'); 
}

@font-face {
  font-family: 'EncodeSans-ExtraBold'; 
  src: url(../fonts/EncodeSans-ExtraBold.ttf) format('ttf'); 
}

@font-face {
  font-family: 'EncodeSans-Regular';
  src: url(../fonts/EncodeSans-Regular.ttf) format('ttf'); 
}

@font-face {
  font-family: 'EncodeSans-Thin'; 
  src: url(../fonts/EncodeSans-Thin.ttf) format('ttf'); 
}