

@import "./base/normalize";
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./abstracts/functions";
@import "./abstracts/animation";
@import "./fonts";


html {
font-size: 10px;

    @media (max-width: 1200px) {
        font-size: 9.5px;
    }

    @media (max-width: 1024px) { 
        font-size: 9px;
    }

    @media (max-width: 768px) {
        font-size: 8.5px;
    }

    @media (max-width: 568px) {
        font-size: 8px;
    }

    @media (max-width: 320px) {
        font-size: 7px;
    }
}

.body {
    font-family: 'EncodeSans-Regular', sans-serif;
}






/* ------------------ components ------------------*/

@import "./components/btn";
@import "./components/link";
@import "./components/input";




/* -------------------- blocks --------------------*/

@import "./blocks/header";
@import "./blocks/menu";
@import "./blocks/logo";
@import "./blocks/why";
@import "./blocks/about";
@import "./blocks/pumping";
@import "./blocks/grid";
@import "./blocks/info";
@import "./blocks/contact";