$primary: #f7ae3b;
$secondary: #0aa566;
$main-color: #ffffff;
$secondary-color: #1e1e1e;
$subtitle-color: #FFE2DE;
$pumping__box-1: #C4E769;
$pumping__box-2: #FFE2DE;
$pumping__box-3: #62D0DF;
$pumping__box-4: #0052C1;
$grid__box-1: #22356F;
$grid__box-5: #DEE1FF;
$grid__box-6: #8F00FF;