.why {    
  height: 604px;
  display: grid;
  grid-template-columns: auto 36%;      
  background: #62D0DF;

  @media (max-width: 568px)  {
    height: max-content;
  }

  &__wrapper {
    max-width: 55.5rem;
    width: 100%;
    margin: 0 auto;
  }

  &__block {
    display: grid;
    grid-template-rows: 1fr 1fr;

    @media (max-width: 768px)  {
      margin-left: 15px;
      grid-template-rows: 0.5fr 1fr;
    }

    @media (max-width: 468px)  {      
      grid-template-rows: 0.25fr 1fr;
    }

    &-title {
      font-family: 'EncodeSans-Bold', sans-serif;
      font-size: 36px;
      line-height: 27px;
      letter-spacing: -0.006em;
      color: #FFFFFF;
      text-transform: capitalize;
      align-content: center;
      align-items: center;
      display: grid;
    }

    &-text {
      color: #FFFFFF;

      &--bold {
        font-size: 24px;
        line-height: 35px;
        font-family: 'EncodeSans-Bold', sans-serif;
      }

      &--thin {
        font-size: 20px;
        line-height: 29px;
        font-family: 'EncodeSans-Thin', sans-serif;
      }      
    }
  }

  &__img {
    background: url(../images/why__img.png) no-repeat left;
  }
}