
.btn {
  width: 100%;
  height: 100vmax;
  outline: none;
  border-style: none;
  
  &:focus {
    outline: 1px solid rgb(12, 12, 12);
  }
  
  &:hover {
    opacity: 0.7;
    border: 1px double black;  
    color: #1e1e1e;
    outline: none;    
    cursor: pointer;
  }

  &:active {
    opacity: 0.9;
    border: 2px inset white;
    color: black;
    outline: none;
  }
}









